<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Bienvenido al Servicio de Reprografía de Delegación de Alumnos, <%= @user.name %></h1>
    <p>
      Te has registrado de manera satisfactoria en nuestra aplicación. Para activar tu cuenta
      es necesario que valides tu cuenta a través del siguiente enlace: <%= link_to @url, "http://#{@url}" %>
    </p>
    <p>
      Si tienes cualquier duda contacta con <%= mail_to "delegacion@da.fi.upm.es", "Delegación de Alumnos" %>.
    </p>
  </body>
</html>
